body {
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/report.png) ;
	height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", Arial, sans-serif; 
}
button {
  font-size: 15px;
  text-transform: uppercase;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  padding: 15px;
  background: #242582;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
button a{
  color: #ffffff;
  text-decoration: none;
}
button:hover{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.land{
  padding: 10% 0 0;
  width: 50%;
  margin: auto; 
}
.land p{
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  line-height: 1.5em;
}
.land h1 {
  text-align: center;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
  -webkit-text-stroke: 1px #242582;
}
.land button{
  width: 30%;
  font-size: 1em;
  font-weight: bold;
  border: none;
}

h1 {
	text-align: center;
  color: #ffffff;
  font-weight: bold;
  -webkit-text-stroke: 1px #242582;
}

.form {
  padding: 10% 0 0;
  width: 360px;
  margin: auto; 
}
.login {
  position: relative;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login input/*[type="email"], input[type="password"], input[type="text"]*/ {
  height: 50px;
  font-family: "Open Sans", Arial, sans-serif; 
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background: #ffffff;
  border: 2px solid #242582;
  border-radius: 20px;
  padding: 0 8px;
  box-sizing: border-box;
}


label span{
  cursor: pointer;
  color: #242582;
}
label span:hover{
  font-weight: bold;
}
#form-switch{
  display: none;
}
#register {
  display: none;
}
#form-switch:checked~#register{
  display: block;
}
#form-switch:checked~#lgform{
  display: none;
}